body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(360deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  overflow: none;
  padding: 0;
  margin: 0;
}

#wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#wrapper #mainForm {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

input {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 30pt;
  outline: none;
  text-align: center;
}

input:focus, input:active {
  outline: none;
}
