body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: none;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: rgba(30,30,151,1);
  font-weight: 900;
  font-size: 60pt;
}

h3 {
  color: rgb(125, 125, 125);
  font-weight: 300;
}

#wrapper {
  margin: 0 auto;
}

#mainForm input {
  padding: 8px;
  border: 0;
  border-bottom: 1px solid rgba(30,30,151,1);
  padding: 0;
  margin: 0;
  color: rgb(160, 160, 160);
  font-size: 20pt;
  outline: none;
  text-align: left;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  width: 100%;
}

#mainForm input:focus, #mainForm input:active {
  outline: none;
  background-color: white;
  color: rgba(9,9,121,1);
}

#link {
  padding: 12px;
  color: rgba(30,30,151,1);
  text-decoration: none;
  font-size: 24pt;
  transition: color 0.2s, background-color 0.2s;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
}

#link:hover {
  cursor: point;
  cursor: hand;
  color: white;
  background-color: rgba(30,30,151,1)
}
